<main
  class="mx-auto flex min-h-screen w-full items-center justify-center bg-gray-900 text-white px-2"
>
  <section
    class="flex w-full max-w-md flex-col space-y-10 bg-gray-800/80 rounded-2xl shadow-2xl p-6 sm:p-10 border border-gray-700"
  >
    <div class="text-center text-3xl sm:text-4xl font-bold tracking-tight">
      Log In
    </div>

    <form
      [formGroup]="formLogin"
      novalidate
      (ngSubmit)="login()"
      class="flex flex-col gap-y-4"
    >
      <div
        class="w-full border-b-2 border-gray-700 bg-transparent text-lg duration-300 focus-within:border-indigo-500"
      >
        <input
          type="text"
          formControlName="email"
          placeholder="Email or Username"
          class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none text-white placeholder:text-gray-400 py-2 px-1"
        />
      </div>
      @if(formLogin.get("email")?.touched || formLogin.get("email")?.dirty ) {
      @if (formLogin.get("email")?.errors?.['required']) {
      <p class="text-red-500 text-xs mt-1">Email is required</p>
      } @if (formLogin.get("email")?.errors?.['email']) {
      <p class="text-red-500 text-xs mt-1">Email is not valid</p>
      } @if (formLogin.get("email")?.errors?.['minlength']) {
      <p class="text-red-500 text-xs mt-1">
        Email must be at least 3 characters
      </p>
      } @if (formLogin.get("email")?.errors?.['maxlength']) {
      <p class="text-red-500 text-xs mt-1">
        Email must be less than 255 characters
      </p>
      } }

      <div
        class="w-full border-b-2 border-gray-700 bg-transparent text-lg duration-300 focus-within:border-indigo-500"
      >
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none text-white placeholder:text-gray-400 py-2 px-1"
        />
      </div>
      @if(formLogin.get("password")?.touched || formLogin.get("password")?.dirty
      ) { @if (formLogin.get("password")?.errors?.['required']) {
      <p class="text-red-500 text-xs mt-1">Password is required</p>
      } }

      <button
        class="rounded-lg bg-indigo-600 py-2 font-bold duration-300 hover:bg-indigo-400 focus:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-400 cursor-pointer w-full mt-4 text-white text-lg shadow-md transition-all"
        type="submit"
      >
        LOG IN
      </button>
    </form>
  </section>
</main>
